/* Basics */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(left-side.css);
@import url(right-side.css);
@import url(colors.css);
@import url(icons.css);
@import url(scroll.css);
@import url(loading.css);
@import url(responsive.css);

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff ;
}

h2 { font-size: 24px; }
h3 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 13px; color: #4d4d4d;}

.fix-left { margin-left: 6px !important }
.line-space { line-height: 9px; font-size: 11px }
.margin-top-15 { margin-top: 15px; }
.margin-bottom-10{ margin-bottom: 10px; }
