/* Left side */
.left-side {
    padding:20px 20px 0 0;
}

.left-side .title {
    color: #fff;
    margin: 10.5px 10.5px 0 0;
}

.left-side .text {
    color: #fff;
}

/* Profile */
.left-side .profile {
    background-color: transparent;
    border:0;
}

.left-side .profile>img {
    display: block;
    height: 171px; 
    width: 171px; 
}

.left-side .profile .profile-title {
    color: #fff;
    font-size: 30px;
}

#profile-img { border-radius: 20px 0 20px 0; }

/* Personal / Professional Skills */
.left-side .progress {
    border-radius: 0;
    height: 14px;
    margin-bottom: 0;
    margin-top: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.left-side .progress-bar {
   -webkit-box-shadow: none;
    box-shadow: none;
}

.left-side .skill-title {
    color: #fff;
    font-size: 16px;
}

.right-side .skill-title {
    color: #000;
    font-size: 16px;
}

/* Button form */
.btn-send {
    background-color: #49c5b1;
    border: 1px solid #fff;
    border-radius: 10px 0 10px 0;
    color: #fff;
}
.btn-send:hover {
    color:#2f5d56;
}
