/* Small devices (tablets, 767px and down) */
@media (max-width: 767px) { 
    #background {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #49c5b1;
        z-index: -99;
    }
    .right-side {
        background-color: #fff;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #background {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 42.5%;
        height: 100%;
        background-color: #49c5b1;
        z-index: -99;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    #background {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 42.5%;
        height: 100%;
        background-color: #49c5b1;
        z-index: -99;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #background {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 42.5%;
        height: 100%;
        background-color: #49c5b1;
        z-index: -99;
    }
}