/* Right Side*/
.right-side {
    min-height: 1560px;
    padding: 20px 0 0 30px;
}

.right-side .title {
    color:#49c5b1;
    margin: 10.5px 10.5px 0 0;
}

.right-side .text {
    color: #979797;
}

.right-side .progress {
    background-color: #a6a5a5;
    border-radius: 0;
    box-shadow: none;
    height: 14px;
    margin-bottom: 0;
    margin-top: 4px;
    -webkit-box-shadow: none;
}

.right-side .progress-bar {
    background-color: #49c5b1;
    box-shadow: none;
   -webkit-box-shadow: none;
}
