.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2c796d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
}
.scroll-to-top:hover {
    text-decoration:none;
    color: #fff;
}